@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
    background-color: aliceblue;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: aliceblue;

}

.swiper-pagination-progressbar, .swiper-pagination-progressbar-fill {
    background: aliceblue !important;
}